form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(130, 130, 130);
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

h1{
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

input {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  margin: 7px;
  border-radius: 5px;
}

button {
  width:25%; 
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 15px;
}
